<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hknusc.web.repository.ReservationRepository">
    <select id="getReservations" parameterType="int" resultType="com.hknusc.web.dto.order.OrderDTO">
        SELECT *
        FROM ORDER_ITEM
        WHERE ACCOUNT_ID = #{userId}
          AND ORDER_CODE BETWEEN 100 AND 109
    </select>
    <select id="getReservationsByStore" parameterType="int" resultType="com.hknusc.web.dto.order.OrderDTO">
        SELECT *
        FROM ORDER_ITEM
        WHERE ACCOUNT_ID = #{userId}
          AND ORDER_CODE BETWEEN 100 AND 109
          AND STORE_ID = #{storeId}
    </select>
    <insert id="saveReservation" parameterType="com.hknusc.web.dto.reservation.ReservationDBSaveDTO"
            useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO ORDER_ITEM(ACCOUNT_ID, STORE_ID, TABLE_ID, RESERVATION_TIME, ORDER_CODE)
        VALUES (#{accountId}, #{storeId}, #{tableId}, #{reservationTime}, #{orderCode})
    </insert>
    <update id="editReservation" parameterType="com.hknusc.web.dto.reservation.ReservationDBEditDTO">
        UPDATE ORDER_ITEM
        SET (TABLE_ID, RESERVATION_TIME, ORDER_CODE)
                = (#{tableId}, #{reservationTime}, #{orderCode})
        WHERE ID = #{id}
          AND ACCOUNT_ID = #{accountId}
    </update>
</mapper>
