<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hknusc.web.repository.ReviewRepository">
    <select id="getReviews" parameterType="int" resultType="com.hknusc.web.dto.review.ReviewDBDTO">
        SELECT *
        FROM REVIEW
        WHERE ACCOUNT_ID = #{userId}
    </select>
    <select id="getReview" parameterType="int" resultType="com.hknusc.web.dto.review.ReviewDBDTO">
        SELECT *
        FROM REVIEW
        WHERE ID = #{reviewId}
          AND ACCOUNT_ID = #{userId}
    </select>
    <select id="getReviewsByStore" parameterType="int" resultType="com.hknusc.web.dto.review.ReviewDBDTO">
        SELECT *
        FROM REVIEW
        WHERE STORE_ID = #{storeId}
          AND ACCOUNT_ID = #{userId}
    </select>
    <insert id="saveReview" parameterType="com.hknusc.web.dto.review.ReviewDBSaveDTO">
        INSERT INTO REVIEW(ACCOUNT_ID, STORE_ID, DETAIL, WRITING_TIME, RATING, PHOTOS)
        VALUES (#{accountId}, #{storeId}, #{detail}, #{writingTime}, #{rating}, #{photos})
    </insert>
    <update id="editReview" parameterType="com.hknusc.web.dto.review.ReviewDBEditDTO">
        UPDATE REVIEW
        SET (DETAIL, WRITING_TIME, RATING, PHOTOS)= (#{detail}, #{writingTime}, #{rating}, #{photos})
        WHERE ID = #{id}
          AND ACCOUNT_ID = #{accountId}
    </update>
    <delete id="deleteReview" parameterType="int">
        DELETE
        FROM REVIEW
        WHERE ID = #{reviewId}
          AND ACCOUNT_ID = #{userId}
    </delete>
</mapper>
