<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hknusc.web.repository.StoreRepository">
    <select id="getStoresByCoordinate" parameterType="double" resultType="com.hknusc.web.dto.store.DistanceStoreDTO">
        SELECT *
        FROM (SELECT *,
                     EARTH_DISTANCE(LL_TO_EARTH(LATITUDE, LONGITUDE),
                                    LL_TO_EARTH(#{latitude}, #{longitude})) AS DISTANCE
              FROM STORE) AS _
        <![CDATA[ WHERE DISTANCE <= #{distance}
        ]]>
    </select>
    <select id="getStore" parameterType="int" resultType="com.hknusc.web.dto.store.StoreDBDTO">
        SELECT *
        FROM STORE
        WHERE ID = #{storeId}
          AND ACCOUNT_ID = #{userId}
    </select>
</mapper>
