<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hknusc.web.repository.AuthRepository">
    <select id="getRefreshToken" parameterType="int" resultType="com.hknusc.web.dto.auth.RefreshTokenDTO">
        SELECT *
        FROM AUTH
        WHERE ACCOUNT_ID = #{accountId}
    </select>
    <insert id="saveRefreshToken" parameterType="com.hknusc.web.dto.auth.RefreshTokenDTO">
        INSERT INTO AUTH (ACCOUNT_ID, REFRESH_TOKEN)
        VALUES (#{accountId}, #{refreshToken}) ON CONFLICT (ACCOUNT_ID)
        DO
        UPDATE
            SET REFRESH_TOKEN = #{refreshToken}
    </insert>
    <update id="removeRefreshToken" parameterType="com.hknusc.web.dto.auth.RefreshTokenDTO">
        UPDATE AUTH
        SET REFRESH_TOKEN = #{refreshToken}
        WHERE ID = #{id}
    </update>
</mapper>