<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hknusc.web.repository.MenuRepository">
    <select id="getMenus" resultType="com.hknusc.web.dto.MenuDTO">
        SELECT *
        FROM MENU
    </select>
    <select id="getMenu" parameterType="int" resultType="com.hknusc.web.dto.MenuDTO">
        SELECT *
        FROM MENU
        WHERE ID = #{menuId}
    </select>
    <insert id="saveMenu" parameterType="com.hknusc.web.dto.MenuDTO">
        INSERT INTO MENU(STORE_ID, PHOTO, NAME, PRICE, CATEGORY)
        VALUES (#{storeId}, #{photo}, #{name}, #{price}, #{category})
    </insert>
    <update id="editMenu" parameterType="com.hknusc.web.dto.MenuEditDTO">
        UPDATE MENU
        SET (PHOTO, NAME, PRICE, CATEGORY)
                = (#{photo}, #{name}, #{price}, #{category})
        WHERE ID = #{id}
    </update>
    <delete id="deleteMenu" parameterType="int">
        DELETE
        FROM MENU
        WHERE ID = #{menuId}
    </delete>
</mapper>