<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hknusc.web.repository.OrderRepository">
    <select id="getOrders" resultType="com.hknusc.web.dto.OrderDTO">
        SELECT *
        FROM ORDER_ITEM
    </select>
    <select id="getOrder" parameterType="int" resultType="com.hknusc.web.dto.OrderDTO">
        SELECT *
        FROM ORDER_ITEM
        WHERE ID = #{orderId}
    </select>
    <insert id="saveOrder" parameterType="com.hknusc.web.dto.OrderDTO">
        INSERT INTO ORDER_ITEM(ACCOUNT_ID, STORE_ID, TABLE_ID, ORDER_TIME, PAYMENT_TIME, RESERVATION_TIME, IS_SERVED,
                               IS_RESERVATION)
        VALUES (#{accountId}, #{storeId}, #{tableId}, #{orderTime}, #{paymentTime}, #{reservationTime}, #{isServed},
                #{isReservation})
    </insert>
    <update id="editOrder" parameterType="com.hknusc.web.dto.OrderDTO">
        UPDATE ORDER_ITEM
        SET (TABLE_ID, ORDER_TIME, PAYMENT_TIME, RESERVATION_TIME, IS_SERVED)
                = (#{tableId}, #{orderTime}, #{paymentTime}, #{reservationTime}, #{isServed})
        WHERE ID = #{id}
    </update>
    <delete id="deleteOrder" parameterType="int">
        DELETE
        FROM ORDER_ITEM
        WHERE ID = #{orderId}
    </delete>
</mapper>