<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hknusc.web.repository.ReservationRepository">
    <select id="getReservations" resultType="com.hknusc.web.dto.ReservationDTO">
        SELECT *
        FROM RESERVATION
    </select>
    <select id="getReservation" parameterType="int" resultType="com.hknusc.web.dto.ReservationDTO">
        SELECT *
        FROM RESERVATION
        WHERE ID = #{reservationId}
    </select>
    <insert id="saveReservation" parameterType="com.hknusc.web.dto.ReservationDTO">
        INSERT INTO RESERVATION(ACCOUNT_ID, STORE_ID, TABLE_ID, ACCOUNT_NAME, RESERVATION_TIME, NUMBER_OF_GUESTS, ITEMS, IS_CANCELLED)
        VALUES (#{accountId}, #{storeId}, #{tableId}, #{accountName}, #{reservationTime}, #{numberOfGuests}, #{items}, #{isCancelled})
    </insert>
</mapper>