<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hknusc.web.repository.StoreRepository">
    <select id="getStores" parameterType="int" resultType="com.hknusc.web.dto.store.StoreDBDTO">
        SELECT *
        FROM STORE
        WHERE ACCOUNT_ID = #{userId}
    </select>
    <select id="getStore" parameterType="int" resultType="com.hknusc.web.dto.store.StoreDBDTO">
        SELECT *
        FROM STORE
        WHERE ID = #{storeId}
          AND ACCOUNT_ID = #{userId}
    </select>
    <insert id="saveStore" parameterType="com.hknusc.web.dto.store.StoreDBSaveDTO" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO STORE(ACCOUNT_ID, NAME, LATITUDE, LONGITUDE, ADDRESS, INFO, PHONE_NUMBER, CAN_RESERVATION,
                          IS_OPEN, PROFILE_PHOTO, PHOTOS)
        VALUES (#{accountId}, #{name}, #{latitude}, #{longitude}, #{address}, #{info}, #{phoneNumber},
                #{canReservation}, #{isOpen}, #{profilePhoto}, #{photos})
    </insert>
    <update id="editStore" parameterType="com.hknusc.web.dto.store.StoreDBEditDTO">
        UPDATE STORE
        SET (NAME, LATITUDE, LONGITUDE, ADDRESS, INFO, PHONE_NUMBER, CAN_RESERVATION,
             PROFILE_PHOTO, PHOTOS)= (#{name}, #{latitude}, #{longitude}, #{address}, #{info}, #{phoneNumber},
                                      #{canReservation}, #{profilePhoto}, #{photos})
        WHERE ID = #{id}
    </update>
    <update id="setOpen" parameterType="com.hknusc.web.dto.store.StoreOpenDTO">
        UPDATE STORE
        SET IS_OPEN = ${storeOpenDTO.isOpen}
        WHERE ID = #{storeOpenDTO.id}
          AND ACCOUNT_ID = #{userId}
    </update>
</mapper>
