<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hknusc.web.repository.StoreRepository">
    <select id="getStores" parameterType="int" resultType="com.hknusc.web.dto.store.StoreDTO">
        SELECT *
        FROM STORE
        WHERE ACCOUNT_ID = #{userId}
    </select>
    <insert id="saveStore" parameterType="com.hknusc.web.dto.store.StoreDBSaveDTO">
        INSERT INTO STORE(ACCOUNT_ID, NAME, ADDRESS, INFO, PHONE_NUMBER, CAN_RESERVATION,
                          OPERATING_TIME, IS_OPEN)
        VALUES (#{accountId}, #{name}, #{address}, #{info}, #{phoneNumber},
                #{canReservation}, #{operatingTime}, #{isOpen})
    </insert>
    <update id="setOpen" parameterType="com.hknusc.web.dto.store.StoreOpenDTO">
        UPDATE STORE
        SET IS_OPEN = ${storeOpenDTO.isOpen}
        WHERE ID = #{storeOpenDTO.id}
          AND ACCOUNT_ID = #{userId}
    </update>
</mapper>